################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Port scanner/.vs
/Port scanner/Port scanner/.vs
/Port scanner/Port scanner/obj/Debug
/Port scanner/Port scanner/bin/Debug
